html, body {
  margin: 0;
  height: 100%;
}

/* Split Screen */
#top {
  width: 100%;
  height: 8%;
}
.left {
  width: 50%;
  height: 92%;
  float: left;
}
.right {
  width: 50%;
  height: 92%;
  float: right;
}
.section:hover {
  background-color: white;
  filter: brightness(90%);
}
.third {
  height: 33%;
}
.third label {
  font-size: larger;
}