{% extends "base.html" %}


{% block body %}
<div style="width:100%; height :100%;">
    <div id="top">
        <h1>
        {{ title }}
        </h1>
    </div>
    <div id="left">
        <div class="third section">
            <label>
                Select a session:
            </label>
            <br>
            <select id="session" name="session" hx-get="/swimmers" hx-target="#swimmer" hx-indicator=".htmx-indicator">
                {% for session in sessions %}
                    <option value="{{ session }}">{{ session }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="third section">
            <label>
                Select a swimmer:
            </label>
            <select id="swimmer" name="swimmer" hx-get="/events" hx-target="#event" hx-indicator=".htmx-indicator">
            </select>
        </div>
        <div class="third section">
            <label>
                Select an event:
            </label>
            <select id="event" name="event" hx-indicator=".htmx-indicator">
            </select>
        </div>
    </div>
    <div id="right" class="section">
        {{ chart }}
    </div>
</div>
{% endblock %}