{% extends "base.html" %}


{% block body %}
<div style="width:100%; height :100%;">
    <div id="top">
        <h1>
        {{ title }}
        </h1>
    </div>
    <div class="left">
        <div class="third section">
            <label>
                Select a session:
            </label>
            <br>
            <select id="session" name="session" hx-get="/swimmers" hx-target="#swimmer" hx-trigger="load">
                {% for session in sessions %}
                    <option value="{{ session }}">{{ session }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="third section">
            <label>
                Select a swimmer:
            </label>
            <select id="swimmer" name="swimmer" hx-get="/events" hx-target="#event" hx-trigger="change, htmx:afterOnLoad change from:#session">
            </select>
        </div>
        <div class="third section">
            <label>
                Select an event:
            </label>
            <select id="event" name="event" hx-get="/get_chart" hx-target="#chart" hx-trigger="change, htmx:afterOnLoad change from:#swimmer">
            </select>
        </div>
    </div>
    <div id="chart" class="right section">
    </div>
</div>
{% endblock %}